.maindog {
  margin: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.42857;
  background-color: #fff;
  font-weight: normal;
}

pre {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer a {
  color: #b3e5fc;
}

.top {
  border: 1.5px solid #b3e5fc;
  text-align: center;
  padding: 10px;
}

h1, h2, .footer {
  font-weight: normal;
  text-align: center;
}

.question {
	padding: 10px;
}

.column {
  float: left;
	width: 50%;
}

.result-column {
  position: -webkit-sticky;
  position: sticky;
  top: 2%;
}

#results {
  text-align: center;
}

.breeds {
  margin-left: auto;
  margin-right: auto;
}

.breeds figure {
  display: inline-block;
  margin-right: 20px;
}

.breeds:after {
    content: '';
    display: inline-block;
    width: 100%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}
