.maindog {
  margin: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.42857;
  background-color: #fff;
  font-weight: normal;
}

.vertical_divider:after {
    background-image: url("http://dl10.glitter-graphics.net/pub/680/680100pcjm8tf9w8.gif");
    content: "";
    display: block;
	position: absolute;
	Height: 100%;
	padding-top: 10px;
	padding-bottom: 100px;
	left: 50%;
	width: 67px;
}

.footer a {
  color: #b3e5fc;
}

.top {
  border: 1.5px solid #b3e5fc;
  text-align: center;
  padding: 10px;
}

h1, h2, .footer {
  font-weight: normal;
  text-align: center;
}

.question {
	padding: 10px;
}

.column {
    float: left;
	width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}